body,
h1 {
  margin: 0;
  padding: 0;
}

.container {
  margin-top: 25px;
  width: 400px;
  box-shadow: 0px 0px 10px 0px rgba(204, 204, 204, 1);
  border-radius: 15px;
  padding: 15px;
}

.button {
  padding: 10px;
  color: #eee;
  width: 100%;
  background-color: #505355;
  border-radius: 15px;
}
